{% extends 'mainapp/base.html' %}

{% block content %}

    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>

    <table class="table table-success table-striped">
        <thead>
            <tr>
                <td>Наименование</td>
                <td>Дата поступления</td>
                <td>Цена</td>
                <td>Количество</td>
                <td>Поставщик</td>
                <td>Разделы</td>
            </tr>
        </thead>
        <tbody>
            {% for good in object.goods.all %}
                <tr>
                    <td>{{ good.name }}</td>
                    <td>{{ good.arrived }}</td>
                    <td>{{ good.price }}</td>
                    <td>{{ good.quantity }}</td>
                    <td>{{ good.supplier_name }}</td>
                    <td>
                        {% if good.partitions.all|length != 0 %}
                            {% for item in good.partitions.all %}
                                <a href="/partition/{{item.id}}">{{ item.name }}</a>
                            {% endfor %}
                        {% else %}
                        -
                        {% endif %}
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
